<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/components/stations-filters.html">

<dom-module id="stations-grid">
    <template>
        <style>
            :host {
                display: block;
            }

            vaadin-grid {
                width: 100%;
                height: 100%;
            }
        </style>

        <stations-filters location="{{location}}" radius="{{radius}}" show-empty="{{showEmpty}}"></stations-filters>

        <iron-ajax url="[[url]]"
                   params="[[_buildParams(radius, location, showEmpty)]]"
                   handle-as="json"
                   debounce-duration="300"
                   loading="{{loading}}"
                   last-response="{{stations}}"
                   on-error="_requestError"
                   auto></iron-ajax>

        <vaadin-grid items='[[stations]]'>
            <vaadin-grid-column width="150px">
                <template class="header">Name</template>
                <template>[[item.name]]</template>
            </vaadin-grid-column>
            <vaadin-grid-column width="40px">
                <template class="header">Distance (km)</template>
                <template>[[_round(item.distance)]]</template>
            </vaadin-grid-column>
            <vaadin-grid-column width="20px">
                <template class="header">Available bikes</template>
                <template>[[item.available_bikes]]</template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>

    <script>
        Polymer({
            is: 'stations-grid',

            properties: {
                url: {
                    type: String,
                    value: ""
                },
                location: {
                    type: Object,
                    value: function () {
                        return {name: "FX Innovation", latitude: 45.506318, longitude: -73.569021}
                    }
                },
                radius: {
                    type: Number,
                    value: 0.5
                },
                stations: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },
                loading: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                showEmpty: {
                    type: Boolean,
                    value: true
                }
            },
            _buildParams: function (radius, location, showEmpty) {
                return {radius: radius, latitude: location.latitude, longitude: location.longitude, empty: showEmpty};
            },
            _round: function (distance) {
                if (distance) {
                    return distance.toFixed(2);
                } else {
                    return distance;
                }
            },
            _requestError: function(event) {
                var response = event.detail.request.response;
                var message = "Failed to load data";
                if (response && response.error) {
                    message += ": " + response.error;
                }
                this.fire('error', {message: message});
            }
        });
    </script>
</dom-module>
